extends layout

block content
    div.ng-cloak(ng-app="app" ng-controller="MyController")
        #{author}
        -each post in posts
            div.post-div.text-left
                p
                    h2
                        a(href="/posts/user/#{post.username}/#{post.createdTime.day}/#{post.title}") #{post.title}
                p.info
                    | 作者：
                    a(href="/posts/user/#{post.username}") #{post.username} |
                    | 日期：#{post.createdTime.minute}
                !{post.content}